---
title: "Actualité - COVID-19"
---
{%- include progress-bar.html -%}

<!-- MOBILE -->
<div class="container home-mobile d-md-none">
    {%- include sidebar_mobile.html -%}
    {%- include edito_mobile.html -%}
    <div class="row bandeau-covid bg-urgence">
        <div class="col">
          <p class="text-center text-white">
              {{ page.title }} - Dernière mise à jour <span>{{ page.last_modified_at | date: '%d/%m/%y %H:%M' }}</span>
          </p>
        </div>
    </div>

    <section class="posts">
        {% for post in site.posts %}
        {% include post_excerpt_mobile.html post=post %}
        {% endfor %}
    </section>

    <!-- Popup -->
    {% include footer_mobile.html %}
     <!-- End popup -->

</div>
<!-- END MOBILE -->

<!--DESKTOP-->
<div class="home d-none d-md-block">

    <!--SIDEBAR-->
    {%- include sidebar_desktop.html -%}
    <!--END SIDEBAR-->

    <div class="content">
        <!--EDITO-->
        {% include edito_desktop.html isOpen = true %}
        <!--EDITO-->


        <!-- EDITO FULL -->
        <div class="row mt-5">
            <div class="col-2">

            </div>
            <div class="col-8">
                {{ site.data.configuration.edito.introduction.contenu_html }}
            </div>
        </div>
        <!-- EDITO FULL -->

    </div>
</div>
<!-- END DESKTOP-->
