<header class="edito">
    <!-- BANDEAU -->
    <div class="bandeau d-flex flex-row p-1 align-items-center">
        <img src="{{ "assets/img/logo-covid.png" | relative_url }}" alt="Logo COVID-19"/>
        <span class="title ml-4 text-uppercase">{{ site.data.configuration.edito.introduction.title_html }}</span>
        <span class="last-update-time ml-auto mt-auto">Dernière mise à jour <span class="date">{{ page.last_modified_at | date: '%d:%m:%Y' }}</span></span>
    </div>
    <!-- BANDEAU -->
    
    <!-- HEADER -->
    <div class="introduction d-flex align-items-center justify-content-center flex-column">
        <div class="row">
            <div class="col-sm-12 col-md-2"></div>
            <div class="col-sm-12 col-md-8 text-center">
                <p class="texte text-bold">{{ site.data.configuration.edito.introduction.introduction_html }}</p>

                <div class="d-inline-block show-more-container mb-2">
                    <img class="show-more arrow-down" src="{{ "assets/img/plus.png" | relative_url }}" alt="+" />
                </div>

            </div>
        </div>
    </div>
    <!-- HEADER -->

    <!-- SHOW MORE -->
    <div class="click-to-expand bg-white">
        <div class="px-3 pt-3 d-flex align-items-center justify-content-center flex-column">
            <div class="row" style="max-width: 1414px;;">
                <div class="col-md-2"></div>
                <div class="col-md-8 contenu_html ">
                    <p class="m-0" style="padding: 0 10%">{{ site.data.configuration.edito.introduction.contenu_html }}</p>
                </div>
            </div>
        </p>
    </div>
    <!-- SHOW MORE -->

</header>
