<div class="row p-3 message-president bg-quaternary text-white">
    <div class="col">
      <p class="fs-30 text-condensed text-bold text-uppercase text-center">{{ site.data.configuration.edito.introduction.title_html }}</p>
      <!-- <div class="row">
          <div class="col-sm-4 col-12">
              <div class="text-center text-sm-right">
                  <img src="{{ site.data.configuration.edito.people.face_image | relative_url }}" alt="president"/>
              </div>
          </div>
          <div class="col-sm-8 col-12">
              <div class="d-none d-sm-block d-md-none"><br></div>
              <p class="text-center text-sm-left president-text"><span class="text-bold text-condensed">{{ site.data.configuration.edito.people.name }}</span><br> {{ site.data.configuration.edito.people.job }}</p>
          </div>
      </div> -->
      <p class="text-bold text-center fs-20">{{ site.data.configuration.edito.introduction.introduction_html }}</p>

      <p class="mt-4 text-bold click-to-expand">{{ site.data.configuration.edito.introduction.contenu_html}}</p>
      <div class="text-center">
          <img id="arrow-down" class="arrow-down" src="{{ "assets/img/arrow-down.png" | relative_url }}" alt="fleche vers le bas"/>
      </div>
    </div>
</div>
