<header class="edito">
    <!-- BANDEAU -->
    <div class="bandeau d-flex flex-row p-1 align-items-center">
        <img src="{{ "assets/img/logo-covid.png" | relative_url }}" alt="Logo COVID-19"/>
        <span class="title ml-4 text-uppercase">{{ site.data.configuration.edito.introduction.title_html }}</span>
        <span class="last-update-time ml-auto mt-auto">Dernière mise à jour <span class="date">{{ page.last_modified_at | date: '%d:%m:%Y' }}</span></span>
    </div>
    <!-- BANDEAU -->
    
    <!-- HEADER -->
    <div class="introduction d-flex align-items-center justify-content-center flex-column">
        <div class="row">
            <div class="col-sm-12 col-md-2"></div>
            <div class="col-sm-12 col-md-8 text-center">
                <p class="texte text-bold">{{ site.data.configuration.edito.introduction.introduction_html }}</p>
                <a class="d-inline-block show-more-container" href="/edito.html">
                    <img class="show-more" src="{{ "assets/img/plus.png" | relative_url }}" alt="+" /> 
                </a>
            </div>
        </div>
    </div>
    <!-- HEADER -->
</header>
