<!-- HEADER -->
<header class="edito-mobile">
    <div class="introduction d-flex align-items-center justify-content-center flex-column text-center">
        <p class="texte text-bold mb-0">{{ site.data.configuration.edito.introduction.introduction_html }}</p>
        
        <div class="d-inline-block show-more-container mb-2">
            <img class="show-more arrow-down" src="{{ "assets/img/plus.png" | relative_url }}" alt="+" />
        </div>
    </div>

     <!-- SHOW MORE -->
     <div class="click-to-expand bg-white">
        <p class="contenu_html p-3">
            {{ site.data.configuration.edito.introduction.contenu_html }}
        </p>
    </div>
    <!-- SHOW MORE -->

</header>
<!-- HEADER -->