<!-- HEADER -->
<header class="edito-mobile">
    <div class="introduction d-flex align-items-center justify-content-center flex-column text-center">
        <p class="texte text-bold">{{ site.data.configuration.edito.introduction.introduction_html }}</p>
        {% assign isOpen = include.isOpen | default: false %}
        {% if isOpen == false %}
        <a class="d-inline-block show-more-container mb-2" href="/edito.html">
            <img class="show-more" src="{{ "assets/img/plus.png" | relative_url }}" alt="+" />
        </a>
        {% else %}
        <a class="d-inline-block show-more-container mb-2" href="/">
            <img class="show-more" src="{{ "assets/img/close.png" | relative_url }}" alt="X" />
        </a>
        {% endif %}
    </div>

    <!-- SHOW MORE -->
    <div class="click-to-expand contenu_html">
        {{ site.data.configuration.edito.introduction.contenu_html }}
    </div>
    <!-- SHOW MORE -->
</header>
<!-- HEADER -->