{% if post.isPinned == true %}
{% assign classNames = 'pinned' %}
{% elsif post.urgence_post == true %}
{% assign classNames = 'urgence' %}
{% else %}
{% assign classNames = '' %}
{% endif %}

<!-- POST -->
<div class="post {{classNames}}">
    <!-- GO BACK -->
    <div class="mb-3">
        <a href="/">
            <div class="go-back">
                <span class="arrow-left mr-2"><img src="{{ "assets/img/fleche-gauche.png" | relative_url }}" /></span>Revenir à la liste
            </div>
        </a>    
    </div>
    <!-- GO BACK -->
    
    <div class="row no-gutters">
        <!-- POST CONTENT -->
        <div class="col-sm-12 col-md-10">
            <h1 class="title">{{page.title}}</h1>
            <div class="row">
                {% if page.asset_image %}
                <div class="col-12">
                    <img src="{{ page.asset_image | relative_url }}" class="w-100 mb-2"/>
                </div>
                {% endif %}
                <div class="col-12">
                    <div class="description">
                        {{ page.description_html }}
                    </div>
                </div>
            </div>
            <div class="description">
                {{page.content}}
            </div>
            
            {% for video in page.video %}
            {% if video.video_code_block %}
            <div class="row">
                <div class="col embed-responsive embed-responsive-16by9">{{ video.video_code_block }}</div>
            </div>
            {% endif %}
            {% endfor %}
            
            {% for social in page.insertion_social %}
            <div class="row">
                <div class="col">{{ social.contenu_code_block }}</div>
            </div>
            {% endfor %}
        </div>
        <!-- POST CONTENT -->
        
    </div>
</div>
<!-- POST -->