{% if post.isPinned == true %}
    {% assign classNames = 'pinned' %}
{% elsif post.urgence_post == true %}
    {% assign classNames = 'urgence' %}
{% else %}
    {% assign classNames = '' %}
{% endif %}

<div class="post {{classNames}}">
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-10">
            <h1 class="post-title text-uppercase"><a href="{{ post.url }}" class="{% if post.urgence_post %}text-quaternary{% else %}text-quaternary{% endif %}">{{ post.title }}</a></h1>
        </div>
        <div class="col-sm-12 col-md-2"></div>
    </div>

    <div class="row no-gutters">
        <div class="col-sm-12 col-md-10">
            <article>
                <div class="mb-2">
                    <a href="{{ post.url }}" class="{% if post.urgence_post %}text-primary{% else %}text-quaternary{% endif %} position-relative d-flex">
                        <img class="post-image img-fluid" src="{{ post.asset_image | relative_url }}" alt="Image post"/>
                    </a>
                </div>
                <div class="post-content text-secondary mt-3">{{ post.description_html }}</div>
                <div class="">
                    <a href="{{ post.url }}" class="btn btn-outline-quaternary">En savoir plus</a></div>
            </article>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="post-publication-time">
                {% if post.isPinned %}
                    <img class="pin" src="{{ "assets/img/pin.png" | relative_url }}" alt="pin"/> À LA UNE
                {% else %}
                    {{ post.date | date: '%d.%m.%Y'}}<br><small class="hour">{{ post.date | date: 'à %HH%M'}}</small>
                {% endif %}
            </div>
        </div>
    </div>
</div>
