<div class="row last-update text-center m-2">
  <div class="col">
    <span class="last-update-time text-uppercase text-grey"> Article publié le</span>
    <span class="last-update-time text-bold text-primary">{{ page.date | date: '%d.%m.%Y'}}</span>
  </div>
</div>

<article class="post {% if post.urgence_post %}urgence{% endif %}">

    <div class="row">
        <h1 class="mb-2 col post-title text-uppercase {% if post.urgence_post %}text-quaternary{% else %}text-quaternary{% endif %}">
                {{ page.title }}
        </h1>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="{{ page.asset_image | relative_url }}" alt="Image post"/>
        </div>
    </div>
    <div class="row">
        <div class="col post-content text-black mt-2">
            {{ page.content }}
        </div>
    </div>
    
    {% for video in page.video %}
        {% if video.video_code_block %}
        <div class="row">
            <div class="col embed-responsive embed-responsive-16by9">{{ video.video_code_block }}</div>
        </div>
        {% endif %}
    {% endfor %}
    
    {% for social in page.insertion_social %}
    <div class="row">
        <div class="col">{{ social.contenu_code_block }}</div>
    </div>
    {% endfor %}
</article>
