{% if post.isPinned == true %}
{% assign classNames = 'pinned' %}
{% elsif post.urgence_post == true %}
{% assign classNames = 'urgence' %}
{% else %}
{% assign classNames = '' %}
{% endif %}

<!-- POST -->
<div class="post {{classNames}}">
    <div class="row no-gutters">
        <!-- POST DATE TIME -->
        <div class="col-sm-12 col-md-2">
            <div class="d-flex flex-row align-items-center justify-content-center mt-2">
                <div class="d-flex flex-column">
                    <span class="date text-bold text-uppercase text-right">{{page.date | date: '%d %B'}}</span>
                    <span class="time text-right">à {{page.date | date: '%Hh%M'}}</span>
                </div>
                <div>
                    <img src="{{ "assets/img/horloge.png" | relative_url }}" class="ml-2">
                </div>
            </div>
        </div>
        <!-- POST DATE TIME -->
        
        <!-- POST CONTENT -->
        <div class="col-sm-12 col-md-10">
            <h1 class="title">{{page.title}}</h1>
            {% if page.asset_image %}
                <div class="row">
                    <div class="col-5">
                        <img src="{{ page.asset_image | relative_url }}" class="w-100"/>
                    </div>
                    <div class="col-7">
                        <div class="description">
                            {{ page.description_html }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="description">
                    {{ page.description_html }}
                </div>
            {% endif %}
            <div class="description">
                {{page.content}}
            </div>
        </div>
        <!-- POST CONTENT -->
    </div>
</div>
<!-- POST -->