<nav class="side-menu-mobile navbar p-0">
  <a class="d-flex flex-row w-100" href="#">
    <img class="logo" src="{{ site.data.configuration.logo_image | relative_url }}" alt="logo" width="80" style="width: 80px;">
    <img class="logo" src="{{ "assets/img/logo-covid.png" | relative_url }}" alt="covid" >
  </a>

  <!-- BUTTON DONATE -->
  <a target="_blank" class="d-block btn-donate w-100 m-0 text-uppercase text-center" href="{{ site.data.configuration.sidebar.gift_grid.once.gift_url }}">
    JE DONNE
  </a>
  <!-- BUTTON DONATE -->
</nav>
