@charset "utf-8";

.content {
	padding-right: $sideMenu-Width;
	
	.message-president {
		padding: 20px;
		
		.president-text {
			font-size: 14px;
			display: inline-block;
			max-width: 200px;
			font-family: $bodyFontFamilySecondary;
			padding-top: 5px;
		}
		
		.chers-amis {
			font-size: 18px;
		}
		
		.arrow-down {
			cursor: pointer;
			transition: transform $transitionSpeed ease-in-out;
			transform: rotateX(0deg)
		}
		
		.arrow-down.active {
			transition: transform $transitionSpeed ease-in-out;
			transform: rotateX(-180deg)
		}
		
		.click-to-expand {
			font-size: 18px;
			max-height: 0px;
			-webkit-transition: max-height $transitionSpeed ease-in-out;
			-moz-transition: max-height $transitionSpeed ease-in-out;
			-ms-transition: max-height $transitionSpeed ease-in-out;
			-o-transition: max-height $transitionSpeed ease-in-out;
			transition: max-height $transitionSpeed ease-in-out;
			overflow: hidden;
		}
		.click-to-expand:hover {
			height:auto;
			max-height:1000px;
		}
	}
	
}

// ################ Mobile
.home-mobile {
    padding-top: 150px;
}


.click-to-expand {
	font-size: 18px;
	max-height: 0px;
	-webkit-transition: max-height $transitionSpeed ease-in-out;
	-moz-transition: max-height $transitionSpeed ease-in-out;
	-ms-transition: max-height $transitionSpeed ease-in-out;
	-o-transition: max-height $transitionSpeed ease-in-out;
	transition: max-height $transitionSpeed ease-in-out;
	overflow: hidden;
}
.click-to-expand:hover {
	height:auto;
	max-height:1000px;
}

.arrow-down {
	cursor: pointer;
	transition: transform $transitionSpeed ease-in-out;
	transform: rotate(0deg)
}

.arrow-down.active {
	transition: transform $transitionSpeed ease-in-out;
	transform: rotate(45deg)
}
