@charset "utf-8";

.content {
	padding-right: $sideMenu-Width;
	
	.message-president {
		padding: 20px;
		
		.president-text {
			font-size: 14px;
			display: inline-block;
			max-width: 200px;
			font-family: $bodyFontFamilySecondary;
			padding-top: 5px;
		}
		
		.chers-amis {
			font-size: 18px;
		}
		
		.arrow-down {
			cursor: pointer;
			transition: transform $transitionSpeed ease-in-out;
			transform: rotateX(0deg)
		}
		
		.arrow-down.active {
			transition: transform $transitionSpeed ease-in-out;
			transform: rotateX(-180deg)
		}
		
		.click-to-expand {
			font-size: 18px;
			max-height: 0px;
			-webkit-transition: max-height $transitionSpeed ease-in-out;
			-moz-transition: max-height $transitionSpeed ease-in-out;
			-ms-transition: max-height $transitionSpeed ease-in-out;
			-o-transition: max-height $transitionSpeed ease-in-out;
			transition: max-height $transitionSpeed ease-in-out;
			overflow: hidden;
		}
		.click-to-expand:hover {
			height:auto;
			max-height:1000px;
		}
	}
	
}

// ################ Mobile

.home-mobile {
	padding-top: 90px;
	
	.message-president{
		padding: 20px;
		
		.aujourdhui{
			font-family: $bodyFontFamilySecondary;
		}
	}
	
	.click-to-expand {
		font-size: 18px;
		max-height: 0px;
		-webkit-transition: max-height $transitionSpeed ease-in-out;
		-moz-transition: max-height $transitionSpeed ease-in-out;
		-ms-transition: max-height $transitionSpeed ease-in-out;
		-o-transition: max-height $transitionSpeed ease-in-out;
		transition: max-height $transitionSpeed ease-in-out;
		overflow: hidden;
	}
	.click-to-expand:hover {
		height:auto;
		max-height:1000px;
	}

	.arrow-down {
		cursor: pointer;
		transition: transform $transitionSpeed ease-in-out;
		transform: rotateX(0deg)
	}
	
	.arrow-down.active {
		transition: transform $transitionSpeed ease-in-out;
		transform: rotateX(-180deg)
	}

	.bandeau-covid {
		
		p {
			font-size: 16px;
			font-weight: bold;
			padding: 10px 5px;
		}
	}
	
	// LINKS //
	.links {
		padding: 0 12px 12px 12px;;
		
		.link-item {
			background-color: rgba(87, 25, 54, 0.1);
			border-radius: 5px;
			color: $quaternary;
			padding: 15px 10px;
			
			&:not(:last-of-type) {
				margin-bottom: 15px;;
			}
			
			.link-title {
				font-size: 20px;
				text-transform: uppercase;
			}
			
			.link-picto {
				padding: 5px;
				margin-right: 10px;
				width: 30px;
			}
			
			.link-date {
				color: #070707;
			}
		}
	}
	
	.posts {
		padding: 10px;
		
		.post {
			margin-bottom: 40px;
			
			.post-publication-time {
				//margin: 10px 0;
				
				&>div {
					background-color: rgba(53, 66, 83, 0.1);
					padding: 5px;
				}
				.a-la-une {
					position: relative;
					top: 2px;
					font-size: 18px;
				}
			}
			
			.post-title {
				font-weight: bold;
				font-size: 22px;
			}
			
			.post-content {
				font-size: 16px;
				font-family: 'Open Sans', sans-serif;
			}
			
			&.urgence .post-content {
				border-left: 5px dotted $urgence;
			}
			
			// POST URGENCE
			&.urgence .post-publication-time span {
				background-color: $primary;	
				color: $white;
				
				.hour {
					color: $quaternary
				}
			}
			
			// POST PINNED
			&.pinned .post-publication-time {
				padding-top: 25px;
				color: $quaternary;
				
				.pin {
					margin-right: 10px;
					position: relative;
					top: -2px;
				}	
			}
		}
	}
}
