---
layout: default
---
{%- include progress-bar.html -%}

<!-- MOBILE -->
<div class="container home-mobile d-md-none">
    {%- include sidebar_mobile.html -%}
    <!-- LINKS -->
    <div class="row links">
                <div class="col-sm-12 col-md-12">
                    <a href="/" class="retour-actu text-quaternary text-bold text-uppercase d-flex align-items-center pt-2 pb-2 mb-3">
                        <img src="{{ 'assets/img/fleche-gauche.png' | relative_url }}" alt="Flèche" class="mr-2"/> Revenir aux actualitées
                    </a>
                </div>
    </div>
    <!-- LINKS -->
    <div class="bandeau-covid bg-urgence">
        <p class="covid-19 bg-primary w-100">
            <span class="text-quaternary">ACTUALITÉ</span>
            <span class="text-bold text-white"> COVID-19</span>
        </p>
    </div>

    <div class="blog">
        <section class="posts p-0">
            {% include post_mobile.html post=post %}
        </section>
   </div>

   <!-- Popup -->
   {% include footer_mobile.html %}
    <!-- End popup -->

</div>
<!-- END MOBILE -->

<!--DESKTOP-->
<div class="home d-none d-md-block">

    <!--SIDEBAR-->
    {%- include sidebar_desktop.html -%}
    <!--END SIDEBAR-->

    <div class="content">
        <!--EDITO-->
        <header class="bg-quaternary text-white message-president">
            <div class="row">
                <div class="col-sm-12 col-lg-3 position-relative">
                    <img src="{{ site.data.configuration.logo_white | relative_url }}" alt="logo" width="150"/>
                </div>
            </div>
        </header>
        <!--EDITO-->


        <div class="blog">
            <p class="covid-19 bg-primary w-100"><span class="text-quaternary">ACTUALITÉ</span><span class="text-bold text-white"> COVID-19</span></p>

            <!-- LINKS -->
            <div class="row links">
                <div class="col-sm-12 col-md-12">
                    <a href="/" class="retour-actu text-quaternary text-bold text-uppercase d-flex align-items-center pt-2 pb-2 mb-3">
                        <img src="{{ 'assets/img/fleche-gauche.png' | relative_url }}" alt="Flèche" class="mr-2"/> Revenir aux actualitées
                    </a>
                </div>
            </div>
            <!-- LINKS -->


            <!-- Posts -->
              {% include post_desktop.html %}
            <!-- Posts -->
        </div>
    </div>
</div>
<!-- END DESKTOP-->
