---
title: "Actualité - COVID-19"
layout: default
language: fr
permalink: /:day/:month/:year/:title/
---
{%- include progress-bar.html -%}

<!-- MOBILE -->
<div class="home-mobile d-md-none">
    <!-- MENU STICKY -->
    {%- include sidebar_mobile.html -%}
    <!-- MENU STICKY -->

    <!-- EDITO -->
    {%- include edito_mobile.html -%}
    <!-- EDITO -->

    <!-- POST_DESKTOP -->
    <div class="blog">
        <section class="posts">
            {%- include post_mobile.html -%}
        </section>
    </div>
    <!-- POST_DESKTOP -->

    <!-- Popup -->
    {% include footer_mobile.html %}
     <!-- End popup -->

</div>
<!-- END MOBILE -->

<!--DESKTOP-->
<div class="home d-none d-md-block">

    <!--SIDEBAR-->
    {%- include sidebar_desktop.html -%}
    <!--END SIDEBAR-->

    <div class="content">
        <!--EDITO-->
        {% include edito_desktop.html isOpen = false %}
        <!--EDITO-->


        <!-- POST_DESKTOP -->
        <div class="blog">
            <section class="posts">
                {%- include post_desktop.html -%}
            </section>
        </div>
        <!-- POST_DESKTOP -->
    </div>
</div>
<!-- END DESKTOP-->
