@charset 'utf-8';

// Blog champ date
$blog-PostDateColor: $primary;
$blog-PostDateFontFamily: 'Lucida Grande';
$blog-PostDateFontSize: 12px;


// Blog champ time
$blog-PostTimeColor: rgba(0, 0, 0, 0.3);
$blog-PostTimeFontFamily: 'Lucida Grande';
$blog-PostTimeFontSize: 11px;

// Blog title
$blog-PostTitleColor: $black;
$blog-PostTitleFontFamily: 'League Gothic';
$blog-PostTitleFontSize: 25px;

// Blog description
$blog-PostDescriptionColor: $black;
$blog-PostDescriptionFontFamily: 'Open Sans';
$blog-PostDescriptionFontSize: 14px;

//Blog post detail -> go back
$blog-PostGoBackColor: rgba(0, 0, 0, 0.5);
$blog-PostGoBackFontFamily: 'Lucida Grande';
$blog-PostGoBackFontSize: 10px;

.blog-mobile {
    .posts {
        padding: 10px;

        .post {
            padding: 20px 20px 0 0;

            .date {
                color: $blog-PostDateColor;
                font-family: $blog-PostDateFontFamily;
                font-size: $blog-PostDateFontSize;
            }

            .time {
                color: $blog-PostTimeColor;
                font-family: $blog-PostTimeFontFamily;
                font-size: $blog-PostTimeFontSize;
            }

            .picto-horloge {
                position: relative;
                
            }

            .title {
                color: $blog-PostTitleColor;
                font-family: $blog-PostTitleFontFamily;
                font-size: $blog-PostTitleFontSize;
            }

            .description {
                color: $blog-PostDescriptionColor;
                font-family: $blog-PostDescriptionFontFamily;
                font-size: $blog-PostDescriptionFontSize;
			}
			
			.go-back {
				color: $blog-PostGoBackColor;
                font-family: $blog-PostGoBackFontFamily;
				font-size: $blog-PostGoBackFontSize;
				
				.arrow-left {
					border-radius: 50%;
					padding: 11px;
					border: 2px solid rgba(112, 112, 112, 0.2);
				}
			}
        }
    }
}