@charset 'utf-8';

// Side Menu Mobile
$sideMenuMobileBackgroundColor: $black;

.side-menu-mobile {
	background-color: $sideMenuMobileBackgroundColor;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;

	.logo {
		padding: 10px;
	}
}








.btn-don {
	color: #fff;
	border-color: $red;
	background-color: $red;
	letter-spacing: 0.01rem;
	font-family: $bodyFontFamilySecondary;
}